ion-item{
    background-color: #121212 // the same color as the background
}

ion-list{
    background-color: #121212 // the same color as the background
  }

  ion-item{
    border-radius: 15px;
    border: solid rgba(0, 128, 0, 0) 2px;
    margin: 5px;
    transition: 200ms;
  }